<%- include('../includes/head.ejs')%>
</head>
<body>
<%- include('../includes/nav.ejs')%>
<main>
    <% if (orders.length > 0) { %>
        <ul class="cart__item-list">
            <% for (o of orders) { %>
                <li class="cart__item">
                    <h1><%= o.id%></h1>
                    <ul>
                        <% for (product of o.products) { %>
                            <li >
                                <%=product.title%> (<%=product.orderItem.quantity%>)
                            </li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
        </ul>
        <br>
    <% } else { %>
        <div>Orders empty</div>
    <% } %>


</main>
<%- include('../includes/end.ejs') %>
